<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular.cookies.js"></script>
    <script src="js/game7_app.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <title>WebMenu</title>
</head>

<body>
  <div ng-app="game7App" ng-controller="clienteCtrl" class="app" role="main" class="content">
    <div style="margin:0px;padding:0px;">
        <div class="col-xs-12 head" style="background-color:#FB4000;">
            <a href="home.html"><img src="img/logo.png" class="img-circle" style="width:80px;margin:0px auto;display:block;" alt="FoodExpress - Restaurante"></a>
            <h1 class="ttl col-xs-8 col-md-8">MEUS DADOS</h1>
            <a class="btn btn-sm btn-default col-xs-3 col-md-3" style="float: right;margin-bottom: 10px;" ng-click="atualizar()">Salvar</a>
        </div>
        <div class="col-xs-12">
            <div ng-if="cl.retorno">
                <p class="alert alert-success" style="text-align:center;">Atualizado com sucesso!</p>
            </div>
            <form enctype="multipart/form-data" method="post">
                <label class="control-label">Nome</label><br/>
                <input id="nome" name="nome" placeholder="{[cl.clienteselecionado[0].nome]}" required="True" class="form-control"/>
                <br>

                <label class="control-label">Email</label><br/>
                <input id="email" name="email" placeholder="{[cl.clienteselecionado[0].email]}" required="True" class="form-control"/>
                <br>

                <label class="control-label">Telefone</label><br/>
                <input type="number" id="telefone" name="telefone" value="{[ct.clienteselecionado[0].telefone]}" required="True" class="form-control"/>
                <br>

                <div class="col-md-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-bottom:20px;">
                    <div class="col-md-9 col-xs-9" style="padding-left:0px;padding-right:0px;">
                        <label class="control-label">Cep</label><br/>
                        <input type="text" id="cep" type="text" name="cep" required="True" class="form-control"/>
                    </div>
                    <div class="col-md-3 col-xs-3" style="padding-right:0px;margin-top:18px;">
                        <a class="btn btn-primary" ng-click="getcep();">Localizar</a>
                    </div>
                </div>

                <label class="control-label">Estado</label> - {[cl.clienteselecionado[0].estado]}<br/>
                <select class="form-control" name="estado" id="estado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="et.estado_selecionado"></select>
                <br/>

                <label class="control-label">Cidade</label> - {[cl.clienteselecionado[0].cidade]}<br/>
                <select class="form-control" name="cidade" id="cidade" ng-change="getbairros()" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="cd.cidade_selecionado"></select>
                <br/>

                <label class="control-label">Bairro</label> - {[cl.clienteselecionado[0].bairro]}<br/>
                <select class="form-control" name="bairro" id="bairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="br.bairro_selecionado"></select>
                <br/>

                <label class="control-label">Endereço</label><br/>
                <input type="text" id="endereco" type="text" name="endereco" value="{[cl.clienteselecionado[0].endereco]}" required="True" class="form-control"/>
                <br/>

                <label class="control-label">Número</label><br/>
                <input type="text" id="numero" type="number" name="numero" required="True" value="{[cl.clienteselecionado[0].numero]}" class="form-control"/>
                <br/>

                <label class="control-label">Complemento</label><br/>
                <input type="text" id="complemento" type="text" name="complemento" required="True" value="{[cl.clienteselecionado[0].complemento]}" class="form-control"/>
                <br/>

                <label class="control-label">Descrição</label><br/>
                <textarea id="descricao" name="descricao" rows="5" required="true" class="form-control">{[cl.clienteselecionado[0].descricao]}</textarea>
                <br/>

                <b>Senha</b>
                <p>A Alteração de senha terá efeito imediato.</p>
                <input id="senha" name="senha" type="password" class="form-control"/>
                <br/><br/><br/><br/><br/>

            </form>
        </div>
        <div class="col-xs-12 rodape">
            <div class="btn-group btn-group-justified" role="group">
                <a href="home.html" class="btn btn-danger" role="button">
                    <img src="img/ico-restaurantes.png"/>
                </a>
                <a href="carrinho.html" class="btn btn-danger" role="button">
                    <img src="img/ico-carrinho.png"/>
                </a>
                <a href="pedidos.html" class="btn btn-danger" role="button">
                    <img src="img/ico-pedidos.png"/>
                </a>
                <a href="profile.html" class="btn btn-danger active" role="button">
                    <img src="img/ico-perfil-active.png"/>
                </a>
            </div>
        </div>
    </div>
  </div>
</body>

</html>
